@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeInRight 1s ease-in-out forwards;
}
