@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.technology-fade-in {
  opacity: 0;
  transform: translateY(100%);
  animation: fadeIn 1s ease-in-out forwards;
}
