.technologies-container {
  &::-webkit-scrollbar {
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: #00000000;
  }

  &::-webkit-scrollbar-thumb {
    background: #00000000;
  }
}

// .scroll-container {
//   overflow-x: hidden;
//   height: 100px;
//   animation: scroll 4s linear infinite;
// }

// @keyframes scroll {
//   0% {
//     transform: translate3d(-25%, 0, 0);
//   }
//   100% {
//     /* -(number of items * 100)% */
//     transform: translate3d(25%, 0, 0);
//   }
// }
